.page {
 .h1 {
  margin-bottom: 40px;
 }
 
 .empty {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin: auto;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.94px;
  letter-spacing: 0%;
  text-align: center;
 }
}
